.upload-box{
  width: 100%;
  padding: .5rem;
  border: #a9a9a933 solid 1px ;
  border-radius: 3px;
  background-color: transparent;
}
.upload-btn-label{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

}
.upload-file-btn{
  margin-right: 1rem;
}
.upload-file-btn-text{
  padding-left: 1rem;
}
.upload-file-name{
  display: inline-block;
  width: 80%;
  // padding-left: 1rem;
}