.upload-box {
    width: 100%;
    padding: 0.5rem;
    border: #a9a9a933 solid 1px;
    border-radius: 3px;
    background-color: transparent;
}
.upload-btn-label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.upload-file-btn {
    margin-right: 1rem;
}
.upload-file-btn-text {
    padding-left: 1rem;
}
.upload-file-name {
    display: inline-block;
    width: 80%;
    // padding-left: 1rem;
}

.comment {
    width: 100%;
    &__head {
        width: 100%;
        display: flex;
        position: relative;
        /* box-sizing: border-box; */
        text-align: left;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: flex-start;
        text-decoration: none;
    }
    &__body {
        margin-left: 3.5rem;
    }
}
.comment-wrapper {
    .MuiListItem-gutters {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .MuiListItemAvatar-root {
        min-width: 50px !important;
    }

    .comment-reply {
        width: 100%;
        .MuiListItemAvatar-root {
            min-width: 33px !important;
        }
        &-replies {
            width: 100%;
            &__head {
                width: 100%;
                display: flex;
                position: relative;
                /* box-sizing: border-box; */
                text-align: left;
                align-items: center;
                padding-top: 8px;
                padding-bottom: 8px;
                justify-content: flex-start;
                text-decoration: none;
            }
            &__body {
                margin-left: 3.5rem;
            }
        }
    }
}

.signout-btn {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.student-courses {
    width: 60%;
    &-register {
        .MuiFormLabel-root {
            color: rgba(0, 0, 0, 0.966);
        }
        button:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

.profile {
    &__image__wrapper {
        position: relative;
        width: 7rem;
        height: 9rem;
        border: 1px solid $text;
        padding: 2px;
        border-radius: 3px;
    }
    &__image__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.596);
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.1rem;
    }
    &__image {
        width: 100%;
        height: 100%;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}
