.m-1{margin: .25rem;}
.m-2{margin: .5rem;}
.m-3{margin: 1rem;}
.m-4{margin: 1.25rem;}
.mb-1{margin-bottom: .25rem;}
.mb-2{margin-bottom: .5rem;}
.mb-3{margin-bottom: 1rem;}
.mb-4{margin-bottom: 1.25rem;}
.mt-1{margin-top: .25rem;}
.mt-2{margin-top: .5rem;}
.mt-3{margin-top: 1rem;}
.mt-4{margin-top: 1.25rem;}
.my-1{margin: .25rem 0;}
.my-2{margin: .5rem 0;}
.my-3{margin: 1rem 0;}
.my-4{margin: 1.25rem 0;}

.MuiListItemText-root.ml-4{margin-left: 1.25rem;}
// .active{color: rgb(233, 99, 3);}

.error{color: #f44336 !important;}
.submit-btn-wrapper{
  width: 100%;
  display: flex;
} 
.btn-right{
  justify-content: flex-end;
}
.secondary{color: rgb(233, 99, 3);}
.black{color: rgb(0, 0, 0);}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}