/***********************************
            GRID
***********************************/

/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/

/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.25rem;
}

.my-1 {
  margin: 0.25rem 0;
}

.my-2 {
  margin: 0.5rem 0;
}

.my-3 {
  margin: 1rem 0;
}

.my-4 {
  margin: 1.25rem 0;
}

.MuiListItemText-root.ml-4 {
  margin-left: 1.25rem;
}

.error {
  color: #f44336 !important;
}

.submit-btn-wrapper {
  width: 100%;
  display: flex;
}

.btn-right {
  justify-content: flex-end;
}

.secondary {
  color: #e96303;
}

.black {
  color: black;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/***********************************
            BASIC RESET
***********************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*
  Converting default browser font-size of 16px to 10px in percentage
  10px / 16px * 100 = 62.5%, thus 1rem = 62.5% = 10px
  */
}

body {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #797979 !important;
  background-color: #fff;
}

a,
a:active {
  color: #919191;
  text-decoration: none;
}

a.linkHover:hover,
a.linkHover:active {
  text-decoration: underline;
}

::-moz-selection {
  background-color: #3490dc;
  color: #fff;
}

::selection {
  background-color: #3490dc;
  color: #fff;
}

.MuiButtonBase-root.nav-link span.MuiTypography-root {
  color: black;
}

.MuiButton-label > div {
  margin-bottom: -0.5rem;
  margin-right: 0.5rem;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover,
.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: #ff57226b !important;
}

.dialog-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[x-placement] {
  z-index: 1;
}

.upload-box {
  width: 100%;
  padding: 0.5rem;
  border: #a9a9a933 solid 1px;
  border-radius: 3px;
  background-color: transparent;
}

.upload-btn-label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.upload-file-btn {
  margin-right: 1rem;
}

.upload-file-btn-text {
  padding-left: 1rem;
}

.upload-file-name {
  display: inline-block;
  width: 80%;
}

.comment {
  width: 100%;
}

.comment__head {
  width: 100%;
  display: flex;
  position: relative;
  /* box-sizing: border-box; */
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
}

.comment__body {
  margin-left: 3.5rem;
}

.comment-wrapper .MuiListItem-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comment-wrapper .MuiListItemAvatar-root {
  min-width: 50px !important;
}

.comment-wrapper .comment-reply {
  width: 100%;
}

.comment-wrapper .comment-reply .MuiListItemAvatar-root {
  min-width: 33px !important;
}

.comment-wrapper .comment-reply-replies {
  width: 100%;
}

.comment-wrapper .comment-reply-replies__head {
  width: 100%;
  display: flex;
  position: relative;
  /* box-sizing: border-box; */
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
}

.comment-wrapper .comment-reply-replies__body {
  margin-left: 3.5rem;
}

.signout-btn {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.student-courses {
  width: 60%;
}

.student-courses-register .MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.966);
}

.student-courses-register button:not(:last-child) {
  margin-right: 0.5rem;
}

.profile__image__wrapper {
  position: relative;
  width: 7rem;
  height: 9rem;
  border: 1px solid #919191;
  padding: 2px;
  border-radius: 3px;
}

.profile__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.596);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}

.profile__image {
  width: 100%;
  height: 100%;
}

.profile__image > img {
  width: 100%;
  height: 100%;
}

.login__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__wrapper h1 {
  font-weight: bold;
  margin: 0;
}

.login__wrapper h2 {
  text-align: center;
}

.login__wrapper p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.login__wrapper span {
  font-size: 12px;
}

.login__wrapper a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login__wrapper button {
  border-radius: 20px;
  border: 1px solid #B70004;
  background-color: #B70004;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.login__wrapper button:disabled {
  background-color: #b7000381;
  border: none;
  cursor: not-allowed;
}

.login__wrapper button:active {
  transform: scale(0.55);
}

.login__wrapper button:focus {
  outline: none;
}

.login__wrapper button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.login__wrapper form.account {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 50px;
  min-height: 100%;
  text-align: center;
}

.login__wrapper input {
  background-color: #f1e0e0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.342);
  padding: 10px 12px;
  margin: 8px 0;
  width: 100%;
}

.login__wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.login__wrapper input.invalid-input {
  border-bottom: 1px solid orangered;
}

.login__wrapper p.error-message {
  font-weight: bold;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  color: orangered;
}

.login__wrapper .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow-x: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 75%;
}

.login__wrapper .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login__wrapper .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login__wrapper .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.login__wrapper .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login__wrapper .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.login__wrapper .overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login__wrapper .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.login__wrapper .overlay {
  background: linear-gradient(to bottom, #d420002a, #B70004);
  background: linear-gradient(to right, #d4200083, #B70004);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  min-height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login__wrapper .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.login__wrapper .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login__wrapper .overlay-left {
  transform: translateX(-20%);
}

.login__wrapper .overlay-left > h1 {
  font-size: 1.2rem;
}

.login__wrapper .overlay-left > p {
  font-weight: 300;
  font-size: 0.85rem;
}

.login__wrapper .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.login__wrapper .overlay-right {
  right: 0;
  transform: translateX(0);
}

.login__wrapper .overlay-right > h1 {
  font-size: 1.2rem;
}

.login__wrapper .overlay-right > p {
  font-weight: 300;
  font-size: 0.85rem;
}

.login__wrapper .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.login__wrapper .signup-form > h1 {
  font-size: 1rem;
  color: #000;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.login__wrapper .logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login__wrapper .logo-container-logo {
  width: 15rem;
  height: 5rem;
}

.login__wrapper .logo-container-logo > img {
  width: 100%;
  height: 100%;
}

.login__wrapper .login-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.login__wrapper .login-info-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-size: 0.9rem;
}

.login__wrapper .login-info-info > strong {
  width: 23%;
  letter-spacing: 0.03rem;
  font-weight: bold;
}

.login__wrapper .login-info-info > span {
  padding-left: 1rem;
  color: #000 !important;
}

.login__wrapper .sign-up-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper .sign-up-btns > button:first-child {
  margin-right: 0.5rem;
}

.login__wrapper .sign-up-btns > button:last-child {
  margin-left: 0.5rem;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiAppBar-colorPrimary {
  color: #919191 !important;
  background-color: #fff !important;
}

.dashboard-summary {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

@media only screen and (max-width: 35.999em) {
  .dashboard-summary {
    flex-direction: column;
    margin: 0;
  }
}

.dashboard-summary > div:last-child {
  text-align: left;
  font-size: medium;
  padding-left: 1rem;
}

@media only screen and (max-width: 35.999em) {
  .dashboard-summary > div:last-child {
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
  }
}

.dashboard-summary > div:last-child > p:first-child {
  font-weight: bolder;
  color: #000;
}

.uni-logo-box {
  width: 100%;
  height: 5rem;
  padding: 0.2rem 0;
}

.uni-logo-box > img {
  width: 100%;
  height: 100%;
}

.current-user {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (max-width: 35.999em) {
  .current-user__name {
    display: none;
  }
}

.app-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video__page__layout {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.video__page__layout__right {
  width: 60%;
  margin-right: 1rem;
}

.video__page__layout__right__player {
  width: 100%;
}

.video__page__layout__left {
  width: 40%;
  margin-left: 1rem;
}

.video__page__layout__left__header {
  letter-spacing: 0.1rem;
}

.list__video {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
}

.list__video__thumb {
  cursor: pointer;
}

.list__video__details__title {
  font-weight: bold;
  font-size: 1rem;
  color: #000000b5;
  padding-bottom: 0.5rem;
}

.list__video__details__other {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.list__video__details__other > span:first-child {
  padding-right: 0.4rem;
}

.list__video__details__other:not(:last-child) {
  margin-bottom: 0.5rem;
}

.list__video__details__other .MuiSvgIcon-root {
  font-size: inherit !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.player-wrapper__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6rem;
  opacity: 0;
  background-color: #cfcfcf;
  display: inline-block;
}

.player-wrapper:hover > .player-wrapper__wrapper {
  -webkit-animation: fadeIn 0.6s ease-in both;
          animation: fadeIn 0.6s ease-in both;
}

.player-wrapper__controls {
  height: inherit;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem 0;
}

.player-wrapper__controls progress {
  width: 100%;
  padding: 0 1rem;
}

.player-wrapper__controls .MuiIconButton-root {
  padding: 4px !important;
}

.player-wrapper__controls .MuiSvgIcon-root {
  fill: #fff;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player-wrapper__controls__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-wrapper__controls__actions.action {
  position: relative;
  max-width: 12.5%;
  color: #fff;
}

.player-wrapper__controls__actions.action.volume {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-wrapper__controls__actions.action.volume div:first-child {
  margin-top: 0.3rem;
  flex: 4;
  transition: all 10s ease-in-out;
  display: none;
}

.player-wrapper__controls__actions.action.volume:hover > div:first-child {
  display: block;
}

.player-wrapper__controls__actions.action.settings {
  position: absolute;
  top: -2rem;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: red;
  border: rebeccapurple solid 2px;
  padding: 0 3rem;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper_thumbnail {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player_thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

var map = {
	"./af": "./node_modules/moment/locale/af.js",
	"./af.js": "./node_modules/moment/locale/af.js",
	"./ar": "./node_modules/moment/locale/ar.js",
	"./ar-dz": "./node_modules/moment/locale/ar-dz.js",
	"./ar-dz.js": "./node_modules/moment/locale/ar-dz.js",
	"./ar-kw": "./node_modules/moment/locale/ar-kw.js",
	"./ar-kw.js": "./node_modules/moment/locale/ar-kw.js",
	"./ar-ly": "./node_modules/moment/locale/ar-ly.js",
	"./ar-ly.js": "./node_modules/moment/locale/ar-ly.js",
	"./ar-ma": "./node_modules/moment/locale/ar-ma.js",
	"./ar-ma.js": "./node_modules/moment/locale/ar-ma.js",
	"./ar-sa": "./node_modules/moment/locale/ar-sa.js",
	"./ar-sa.js": "./node_modules/moment/locale/ar-sa.js",
	"./ar-tn": "./node_modules/moment/locale/ar-tn.js",
	"./ar-tn.js": "./node_modules/moment/locale/ar-tn.js",
	"./ar.js": "./node_modules/moment/locale/ar.js",
	"./az": "./node_modules/moment/locale/az.js",
	"./az.js": "./node_modules/moment/locale/az.js",
	"./be": "./node_modules/moment/locale/be.js",
	"./be.js": "./node_modules/moment/locale/be.js",
	"./bg": "./node_modules/moment/locale/bg.js",
	"./bg.js": "./node_modules/moment/locale/bg.js",
	"./bm": "./node_modules/moment/locale/bm.js",
	"./bm.js": "./node_modules/moment/locale/bm.js",
	"./bn": "./node_modules/moment/locale/bn.js",
	"./bn-bd": "./node_modules/moment/locale/bn-bd.js",
	"./bn-bd.js": "./node_modules/moment/locale/bn-bd.js",
	"./bn.js": "./node_modules/moment/locale/bn.js",
	"./bo": "./node_modules/moment/locale/bo.js",
	"./bo.js": "./node_modules/moment/locale/bo.js",
	"./br": "./node_modules/moment/locale/br.js",
	"./br.js": "./node_modules/moment/locale/br.js",
	"./bs": "./node_modules/moment/locale/bs.js",
	"./bs.js": "./node_modules/moment/locale/bs.js",
	"./ca": "./node_modules/moment/locale/ca.js",
	"./ca.js": "./node_modules/moment/locale/ca.js",
	"./cs": "./node_modules/moment/locale/cs.js",
	"./cs.js": "./node_modules/moment/locale/cs.js",
	"./cv": "./node_modules/moment/locale/cv.js",
	"./cv.js": "./node_modules/moment/locale/cv.js",
	"./cy": "./node_modules/moment/locale/cy.js",
	"./cy.js": "./node_modules/moment/locale/cy.js",
	"./da": "./node_modules/moment/locale/da.js",
	"./da.js": "./node_modules/moment/locale/da.js",
	"./de": "./node_modules/moment/locale/de.js",
	"./de-at": "./node_modules/moment/locale/de-at.js",
	"./de-at.js": "./node_modules/moment/locale/de-at.js",
	"./de-ch": "./node_modules/moment/locale/de-ch.js",
	"./de-ch.js": "./node_modules/moment/locale/de-ch.js",
	"./de.js": "./node_modules/moment/locale/de.js",
	"./dv": "./node_modules/moment/locale/dv.js",
	"./dv.js": "./node_modules/moment/locale/dv.js",
	"./el": "./node_modules/moment/locale/el.js",
	"./el.js": "./node_modules/moment/locale/el.js",
	"./en-au": "./node_modules/moment/locale/en-au.js",
	"./en-au.js": "./node_modules/moment/locale/en-au.js",
	"./en-ca": "./node_modules/moment/locale/en-ca.js",
	"./en-ca.js": "./node_modules/moment/locale/en-ca.js",
	"./en-gb": "./node_modules/moment/locale/en-gb.js",
	"./en-gb.js": "./node_modules/moment/locale/en-gb.js",
	"./en-ie": "./node_modules/moment/locale/en-ie.js",
	"./en-ie.js": "./node_modules/moment/locale/en-ie.js",
	"./en-il": "./node_modules/moment/locale/en-il.js",
	"./en-il.js": "./node_modules/moment/locale/en-il.js",
	"./en-in": "./node_modules/moment/locale/en-in.js",
	"./en-in.js": "./node_modules/moment/locale/en-in.js",
	"./en-nz": "./node_modules/moment/locale/en-nz.js",
	"./en-nz.js": "./node_modules/moment/locale/en-nz.js",
	"./en-sg": "./node_modules/moment/locale/en-sg.js",
	"./en-sg.js": "./node_modules/moment/locale/en-sg.js",
	"./eo": "./node_modules/moment/locale/eo.js",
	"./eo.js": "./node_modules/moment/locale/eo.js",
	"./es": "./node_modules/moment/locale/es.js",
	"./es-do": "./node_modules/moment/locale/es-do.js",
	"./es-do.js": "./node_modules/moment/locale/es-do.js",
	"./es-mx": "./node_modules/moment/locale/es-mx.js",
	"./es-mx.js": "./node_modules/moment/locale/es-mx.js",
	"./es-us": "./node_modules/moment/locale/es-us.js",
	"./es-us.js": "./node_modules/moment/locale/es-us.js",
	"./es.js": "./node_modules/moment/locale/es.js",
	"./et": "./node_modules/moment/locale/et.js",
	"./et.js": "./node_modules/moment/locale/et.js",
	"./eu": "./node_modules/moment/locale/eu.js",
	"./eu.js": "./node_modules/moment/locale/eu.js",
	"./fa": "./node_modules/moment/locale/fa.js",
	"./fa.js": "./node_modules/moment/locale/fa.js",
	"./fi": "./node_modules/moment/locale/fi.js",
	"./fi.js": "./node_modules/moment/locale/fi.js",
	"./fil": "./node_modules/moment/locale/fil.js",
	"./fil.js": "./node_modules/moment/locale/fil.js",
	"./fo": "./node_modules/moment/locale/fo.js",
	"./fo.js": "./node_modules/moment/locale/fo.js",
	"./fr": "./node_modules/moment/locale/fr.js",
	"./fr-ca": "./node_modules/moment/locale/fr-ca.js",
	"./fr-ca.js": "./node_modules/moment/locale/fr-ca.js",
	"./fr-ch": "./node_modules/moment/locale/fr-ch.js",
	"./fr-ch.js": "./node_modules/moment/locale/fr-ch.js",
	"./fr.js": "./node_modules/moment/locale/fr.js",
	"./fy": "./node_modules/moment/locale/fy.js",
	"./fy.js": "./node_modules/moment/locale/fy.js",
	"./ga": "./node_modules/moment/locale/ga.js",
	"./ga.js": "./node_modules/moment/locale/ga.js",
	"./gd": "./node_modules/moment/locale/gd.js",
	"./gd.js": "./node_modules/moment/locale/gd.js",
	"./gl": "./node_modules/moment/locale/gl.js",
	"./gl.js": "./node_modules/moment/locale/gl.js",
	"./gom-deva": "./node_modules/moment/locale/gom-deva.js",
	"./gom-deva.js": "./node_modules/moment/locale/gom-deva.js",
	"./gom-latn": "./node_modules/moment/locale/gom-latn.js",
	"./gom-latn.js": "./node_modules/moment/locale/gom-latn.js",
	"./gu": "./node_modules/moment/locale/gu.js",
	"./gu.js": "./node_modules/moment/locale/gu.js",
	"./he": "./node_modules/moment/locale/he.js",
	"./he.js": "./node_modules/moment/locale/he.js",
	"./hi": "./node_modules/moment/locale/hi.js",
	"./hi.js": "./node_modules/moment/locale/hi.js",
	"./hr": "./node_modules/moment/locale/hr.js",
	"./hr.js": "./node_modules/moment/locale/hr.js",
	"./hu": "./node_modules/moment/locale/hu.js",
	"./hu.js": "./node_modules/moment/locale/hu.js",
	"./hy-am": "./node_modules/moment/locale/hy-am.js",
	"./hy-am.js": "./node_modules/moment/locale/hy-am.js",
	"./id": "./node_modules/moment/locale/id.js",
	"./id.js": "./node_modules/moment/locale/id.js",
	"./is": "./node_modules/moment/locale/is.js",
	"./is.js": "./node_modules/moment/locale/is.js",
	"./it": "./node_modules/moment/locale/it.js",
	"./it-ch": "./node_modules/moment/locale/it-ch.js",
	"./it-ch.js": "./node_modules/moment/locale/it-ch.js",
	"./it.js": "./node_modules/moment/locale/it.js",
	"./ja": "./node_modules/moment/locale/ja.js",
	"./ja.js": "./node_modules/moment/locale/ja.js",
	"./jv": "./node_modules/moment/locale/jv.js",
	"./jv.js": "./node_modules/moment/locale/jv.js",
	"./ka": "./node_modules/moment/locale/ka.js",
	"./ka.js": "./node_modules/moment/locale/ka.js",
	"./kk": "./node_modules/moment/locale/kk.js",
	"./kk.js": "./node_modules/moment/locale/kk.js",
	"./km": "./node_modules/moment/locale/km.js",
	"./km.js": "./node_modules/moment/locale/km.js",
	"./kn": "./node_modules/moment/locale/kn.js",
	"./kn.js": "./node_modules/moment/locale/kn.js",
	"./ko": "./node_modules/moment/locale/ko.js",
	"./ko.js": "./node_modules/moment/locale/ko.js",
	"./ku": "./node_modules/moment/locale/ku.js",
	"./ku.js": "./node_modules/moment/locale/ku.js",
	"./ky": "./node_modules/moment/locale/ky.js",
	"./ky.js": "./node_modules/moment/locale/ky.js",
	"./lb": "./node_modules/moment/locale/lb.js",
	"./lb.js": "./node_modules/moment/locale/lb.js",
	"./lo": "./node_modules/moment/locale/lo.js",
	"./lo.js": "./node_modules/moment/locale/lo.js",
	"./lt": "./node_modules/moment/locale/lt.js",
	"./lt.js": "./node_modules/moment/locale/lt.js",
	"./lv": "./node_modules/moment/locale/lv.js",
	"./lv.js": "./node_modules/moment/locale/lv.js",
	"./me": "./node_modules/moment/locale/me.js",
	"./me.js": "./node_modules/moment/locale/me.js",
	"./mi": "./node_modules/moment/locale/mi.js",
	"./mi.js": "./node_modules/moment/locale/mi.js",
	"./mk": "./node_modules/moment/locale/mk.js",
	"./mk.js": "./node_modules/moment/locale/mk.js",
	"./ml": "./node_modules/moment/locale/ml.js",
	"./ml.js": "./node_modules/moment/locale/ml.js",
	"./mn": "./node_modules/moment/locale/mn.js",
	"./mn.js": "./node_modules/moment/locale/mn.js",
	"./mr": "./node_modules/moment/locale/mr.js",
	"./mr.js": "./node_modules/moment/locale/mr.js",
	"./ms": "./node_modules/moment/locale/ms.js",
	"./ms-my": "./node_modules/moment/locale/ms-my.js",
	"./ms-my.js": "./node_modules/moment/locale/ms-my.js",
	"./ms.js": "./node_modules/moment/locale/ms.js",
	"./mt": "./node_modules/moment/locale/mt.js",
	"./mt.js": "./node_modules/moment/locale/mt.js",
	"./my": "./node_modules/moment/locale/my.js",
	"./my.js": "./node_modules/moment/locale/my.js",
	"./nb": "./node_modules/moment/locale/nb.js",
	"./nb.js": "./node_modules/moment/locale/nb.js",
	"./ne": "./node_modules/moment/locale/ne.js",
	"./ne.js": "./node_modules/moment/locale/ne.js",
	"./nl": "./node_modules/moment/locale/nl.js",
	"./nl-be": "./node_modules/moment/locale/nl-be.js",
	"./nl-be.js": "./node_modules/moment/locale/nl-be.js",
	"./nl.js": "./node_modules/moment/locale/nl.js",
	"./nn": "./node_modules/moment/locale/nn.js",
	"./nn.js": "./node_modules/moment/locale/nn.js",
	"./oc-lnc": "./node_modules/moment/locale/oc-lnc.js",
	"./oc-lnc.js": "./node_modules/moment/locale/oc-lnc.js",
	"./pa-in": "./node_modules/moment/locale/pa-in.js",
	"./pa-in.js": "./node_modules/moment/locale/pa-in.js",
	"./pl": "./node_modules/moment/locale/pl.js",
	"./pl.js": "./node_modules/moment/locale/pl.js",
	"./pt": "./node_modules/moment/locale/pt.js",
	"./pt-br": "./node_modules/moment/locale/pt-br.js",
	"./pt-br.js": "./node_modules/moment/locale/pt-br.js",
	"./pt.js": "./node_modules/moment/locale/pt.js",
	"./ro": "./node_modules/moment/locale/ro.js",
	"./ro.js": "./node_modules/moment/locale/ro.js",
	"./ru": "./node_modules/moment/locale/ru.js",
	"./ru.js": "./node_modules/moment/locale/ru.js",
	"./sd": "./node_modules/moment/locale/sd.js",
	"./sd.js": "./node_modules/moment/locale/sd.js",
	"./se": "./node_modules/moment/locale/se.js",
	"./se.js": "./node_modules/moment/locale/se.js",
	"./si": "./node_modules/moment/locale/si.js",
	"./si.js": "./node_modules/moment/locale/si.js",
	"./sk": "./node_modules/moment/locale/sk.js",
	"./sk.js": "./node_modules/moment/locale/sk.js",
	"./sl": "./node_modules/moment/locale/sl.js",
	"./sl.js": "./node_modules/moment/locale/sl.js",
	"./sq": "./node_modules/moment/locale/sq.js",
	"./sq.js": "./node_modules/moment/locale/sq.js",
	"./sr": "./node_modules/moment/locale/sr.js",
	"./sr-cyrl": "./node_modules/moment/locale/sr-cyrl.js",
	"./sr-cyrl.js": "./node_modules/moment/locale/sr-cyrl.js",
	"./sr.js": "./node_modules/moment/locale/sr.js",
	"./ss": "./node_modules/moment/locale/ss.js",
	"./ss.js": "./node_modules/moment/locale/ss.js",
	"./sv": "./node_modules/moment/locale/sv.js",
	"./sv.js": "./node_modules/moment/locale/sv.js",
	"./sw": "./node_modules/moment/locale/sw.js",
	"./sw.js": "./node_modules/moment/locale/sw.js",
	"./ta": "./node_modules/moment/locale/ta.js",
	"./ta.js": "./node_modules/moment/locale/ta.js",
	"./te": "./node_modules/moment/locale/te.js",
	"./te.js": "./node_modules/moment/locale/te.js",
	"./tet": "./node_modules/moment/locale/tet.js",
	"./tet.js": "./node_modules/moment/locale/tet.js",
	"./tg": "./node_modules/moment/locale/tg.js",
	"./tg.js": "./node_modules/moment/locale/tg.js",
	"./th": "./node_modules/moment/locale/th.js",
	"./th.js": "./node_modules/moment/locale/th.js",
	"./tk": "./node_modules/moment/locale/tk.js",
	"./tk.js": "./node_modules/moment/locale/tk.js",
	"./tl-ph": "./node_modules/moment/locale/tl-ph.js",
	"./tl-ph.js": "./node_modules/moment/locale/tl-ph.js",
	"./tlh": "./node_modules/moment/locale/tlh.js",
	"./tlh.js": "./node_modules/moment/locale/tlh.js",
	"./tr": "./node_modules/moment/locale/tr.js",
	"./tr.js": "./node_modules/moment/locale/tr.js",
	"./tzl": "./node_modules/moment/locale/tzl.js",
	"./tzl.js": "./node_modules/moment/locale/tzl.js",
	"./tzm": "./node_modules/moment/locale/tzm.js",
	"./tzm-latn": "./node_modules/moment/locale/tzm-latn.js",
	"./tzm-latn.js": "./node_modules/moment/locale/tzm-latn.js",
	"./tzm.js": "./node_modules/moment/locale/tzm.js",
	"./ug-cn": "./node_modules/moment/locale/ug-cn.js",
	"./ug-cn.js": "./node_modules/moment/locale/ug-cn.js",
	"./uk": "./node_modules/moment/locale/uk.js",
	"./uk.js": "./node_modules/moment/locale/uk.js",
	"./ur": "./node_modules/moment/locale/ur.js",
	"./ur.js": "./node_modules/moment/locale/ur.js",
	"./uz": "./node_modules/moment/locale/uz.js",
	"./uz-latn": "./node_modules/moment/locale/uz-latn.js",
	"./uz-latn.js": "./node_modules/moment/locale/uz-latn.js",
	"./uz.js": "./node_modules/moment/locale/uz.js",
	"./vi": "./node_modules/moment/locale/vi.js",
	"./vi.js": "./node_modules/moment/locale/vi.js",
	"./x-pseudo": "./node_modules/moment/locale/x-pseudo.js",
	"./x-pseudo.js": "./node_modules/moment/locale/x-pseudo.js",
	"./yo": "./node_modules/moment/locale/yo.js",
	"./yo.js": "./node_modules/moment/locale/yo.js",
	"./zh-cn": "./node_modules/moment/locale/zh-cn.js",
	"./zh-cn.js": "./node_modules/moment/locale/zh-cn.js",
	"./zh-hk": "./node_modules/moment/locale/zh-hk.js",
	"./zh-hk.js": "./node_modules/moment/locale/zh-hk.js",
	"./zh-mo": "./node_modules/moment/locale/zh-mo.js",
	"./zh-mo.js": "./node_modules/moment/locale/zh-mo.js",
	"./zh-tw": "./node_modules/moment/locale/zh-tw.js",
	"./zh-tw.js": "./node_modules/moment/locale/zh-tw.js"
};


function webpackContext(req) {
	var id = webpackContextResolve(req);
	return __webpack_require__(id);
}
function webpackContextResolve(req) {
	if(!__webpack_require__.o(map, req)) {
		var e = new Error("Cannot find module '" + req + "'");
		e.code = 'MODULE_NOT_FOUND';
		throw e;
	}
	return map[req];
}
webpackContext.keys = function webpackContextKeys() {
	return Object.keys(map);
};
webpackContext.resolve = webpackContextResolve;
module.exports = webpackContext;
webpackContext.id = "./node_modules/moment/locale sync recursive ^\\.\\/.*$";